// LOGO

.logo {
    height: 3.25rem;
}

// FORM SEARCH

.search {
    &__icon {
        height: 2rem;
        width: 2rem;
    }

    &__input {

    }

    &__button {

    }

    
}

// USER NAVIGATION

.user-nav {

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
    }
    &__icon-box {}
    &__notification {}
    
    &__user {}
    &__user-name {}
    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
    }
}